div {
    border: 1px solid white;
}
#right {
    right: 0;
}

header{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    .gH1{
        background-color: pink;
        display: grid;
        grid-column: 1 / span 7;
        grid-row: 1;


    }
    .gH2 {
        background-color: yellow;
        display: grid;
        grid-column: 1 / 7;
        grid-row-start: 2 ;
        grid-row-end: 4;


    }
    .gH3{
        background-color: red;
        display: grid;
        grid-column: 2 / span 7;
        grid-row: 2;


    }
    .nav{
        background-color: orange;
        display: grid;
        grid-column: 2 / span 7;
        grid-row: 3;
        li{
            list-style: none;
            display: inline;
        }

    }
    .gH4{
        background-color: purple;
        display: grid;
        grid-column: 1 / span 7;
        grid-row: 4;

    }
}

main {
    #first {
        display: grid;
        grid-template-areas: "a a b c" "a a d d" "e e f f";

        .greyMain1 {
            grid-area: a;
            background-color: green;
        }

        .greyMain2 {
            grid-area: b;
            background-color: black;
        }

        .greyMain3 {
            grid-area: c;
            background-color: red;
        }

        .greyMain4 {
            grid-area: d;
            background-color: magenta;
        }

        .greyMain5 {
            grid-area: e;
            background-color: lightgreen;
        }

        .greyMain6 {
            grid-area: f;
            background-color: brown;
        }
    }

    #second {
        display: grid;
        grid-template-areas: "a b c d e";

        .MainDeux1 {
            grid-area: a;
            background-color: lightgrey;
        }

        .MainDeux2 {
            grid-area: b;
            background-color: darkred;
        }

        .MainDeux3 {
            grid-area: c;
            background-color: darkgreen;
        }

        .MainDeux4 {
            grid-area: d;
            background-color: darkblue;
        }

        .MainDeux5 {
            grid-area: e;
            background-color: darkorange;
        }
    }

    #global {
        display: grid;
        grid-template-areas: "a b";

        #third {
            grid-area: a;
            background-color: yellow;
        }

        #fourth {
            grid-area: b;
            display: grid;
            grid-template-areas: "a b c d" "e f g h";

            .MainTrois1 {
                grid-area: a;
                background-color: pink;
            }

            .MainTrois2 {
                grid-area: b;
                background-color: green;
            }

            .MainTrois3 {
                grid-area: c;
                background-color: red;
            }

            .MainTrois4 {
                grid-area: d;
                background-color: blue;
            }

            .MainTrois5 {
                grid-area: e;
                background-color: brown;
            }

            .MainTrois6 {
                grid-area: f;
                background-color: black;
            }

            .MainTrois7 {
                grid-area: g;
                background-color: darkblue;
            }

            .MainTrois8 {
                grid-area: h;
                background-color: lightpink;
            }
        }
    }

}
footer {
    display: grid;

    #gf1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: pink;
    }

    #gf2 {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        background-color: orange;
    }

    #gf3 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        background-color: blue;
    }

    #gf4 {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        background-color: purple;
    }
}
