body {
    width: 70%;

}

div {
    border: 1px solid white;
}

#right {
    right: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    span {
        background-color: red;
        grid-column: 1 / 2;
        grid-row-start: 1;
        grid-row-end: 4;

        ul {
            li {
                color: white;
                list-style: none;
            }
        }
    }
}

header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column: 2 / 8;
    grid-row-start: 1;
    grid-row-end: 1;

    .gH2 {
        background-color: yellow;
        display: grid;
        grid-column: 1 / 7;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .gH3 {
        background-color: pink;
        display: grid;
        grid-column: 2 /span 7;
        grid-row: 2;
    }

    .nav {
        background-color: orange;
        display: grid;
        grid-column: 2 / span 7;
        grid-row: 3;

        ul {
            display: grid;

            li {
                list-style: none;
            }
        }
    }

    .gH4 {
        background-color: purple;
        display: grid;
        grid-column: 1 / span 7;
        grid-row: 4;
    }
}

main {
    grid-column: 2 / 8;
    grid-row-start: 2;
    grid-row-end: 2;

    #first {
        display: grid;
        grid-template-areas: "a a b c" "a a d d" "e e f f";
        .greyMain1 {
            grid-area: a;

            margin: 0.5rem;
            border: 1px solid black;
        }

        .greyMain2 {
            grid-area: b;

            margin: 0.5rem;
            border: 1px solid black;
        }

        .greyMain3 {
            grid-area: c;

            margin: 0.5rem;
            border: 1px solid black;
        }


            .greyMain4 {
                grid-area: d;

                display: grid;
                grid-template-areas: "a b";
                border: 1px solid black;
                margin: 0.5rem;
                #oops {
                    width: 90%;
                    grid-area: a;
                    img{
                        display:flex;
                        float: left;

                    }
            }
            #wouhou {
                grid-area: b;
            }
        }

        .greyMain5 {
            grid-area: e;

            display: grid;
            grid-template-areas: "a b";
            margin: 0.5rem;
            border: 1px solid black;
            #ahah {
                grid-area: a;
                width: 100%;
                img{
                    display:flex;
                    float: left;
                }
            }

            #ohoh {
                grid-area: b;
            }
        }


            .greyMain6 {
                grid-area: f;

                display: grid;
                grid-template-areas: "a b";
                border: 1px solid black;
                margin: 0.5rem;
                #aiedit {
                    grid-area: a;
                    width: 90%;
                    img{
                        display:flex;
                        float: left;
                    }
            }
            #id {
                grid-area: b;
            }
        }
    }

    #second {
        display: grid;
        grid-template-areas: "a b c d e";

        .MainDeux1 {
            grid-area: a;
            background-color: lightgrey;
        }

        .MainDeux2 {
            grid-area: b;
            background-color: darkred;
        }

        .MainDeux3 {
            grid-area: c;
            background-color: darkgreen;
        }

        .MainDeux4 {
            grid-area: d;
            background-color: darkblue;
        }

        .MainDeux5 {
            grid-area: e;
            background-color: darkorange;
        }
    }

    #global {
        display: grid;
        grid-template-areas: "a b";

        #third {
            grid-area: a;
            
            .greyMainAlone {
                margin-right: 1rem;
            }
        }

        #fourth {
            grid-area: b;
            display: grid;
            grid-template-areas: "a b c d" "e f g h";


            .MainTrois1 {
                grid-area: a;

            }

            .MainTrois2 {
                grid-area: b;

            }

            .MainTrois3 {
                grid-area: c;

            }

            .MainTrois4 {
                grid-area: d;
            }

            .MainTrois5 {
                grid-area: e;
            }

            .MainTrois6 {
                grid-area: f;
            }

            .MainTrois7 {
                grid-area: g;
            }

            .MainTrois8 {
                grid-area: h;
            }
        }
    }
}

footer {
    display: grid;
    grid-column: 2 / 8;
    grid-row-start: 3;
    grid-row-end: 3;

    #gf1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: pink;
    }

    #gf2 {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        background-color: orange;
    }

    #gf3 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        background-color: blue;
    }

    #gf4 {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        background-color: purple;
    }
}

img {
    min-width: 100%;
    max-width: 100%;
}
